<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title here</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
	<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    
    {# {%- css %}{% include "public/css/journal.css" %}{%- endcss %} #}
</head>

<body>
    {{ content | safe }}
</body>
</html>